<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>indexPathForRowAtPoint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDD6F6E71C32DE7E00C8DBED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD6F7001C32DE7F00C8DBED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD6F70B1C32DE7F00C8DBED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
